<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 4 Sprint 3 Assignment 1*

# Recurrent Neural Networks and Long Short Term Memory (LSTM)

![Monkey at a typewriter](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Chimpanzee_seated_at_typewriter.jpg/603px-Chimpanzee_seated_at_typewriter.jpg)

It is said that [infinite monkeys typing for an infinite amount of time](https://en.wikipedia.org/wiki/Infinite_monkey_theorem) will eventually type, among other things, the complete works of Wiliam Shakespeare. Let's see if we can get there a bit faster, with the power of Recurrent Neural Networks and LSTM.

This text file contains the complete works of Shakespeare: https://www.gutenberg.org/files/100/100-0.txt

Use it as training data for an RNN - you can keep it simple and train character level, and that is suggested as an initial approach.

Then, use that trained RNN to generate Shakespearean-ish text. Your goal - a function that can take, as an argument, the size of text (e.g. number of characters or lines) to generate, and returns generated text of that size.

Note - Shakespeare wrote an awful lot. It's OK, especially initially, to sample/use smaller data and parameters, so you can have a tighter feedback loop when you're trying to get things running. Then, once you've got a proof of concept - start pushing it more!

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://www.gutenberg.org/files/100/100-0.txt"

r = requests.get(url)
r.encoding = r.apparent_encoding
data = r.text
data = data.split('\r\n')
toc = [l.strip() for l in data[44:130:2]]
# Skip the Table of Contents
data = data[135:]

# Fixing Titles
toc[9] = 'THE LIFE OF KING HENRY V'
toc[18] = 'MACBETH'
toc[24] = 'OTHELLO, THE MOOR OF VENICE'
toc[34] = 'TWELFTH NIGHT: OR, WHAT YOU WILL'

locations = {id_:{'title':title, 'start':-99} for id_,title in enumerate(toc)}

# Start 
for e,i in enumerate(data):
    for t,title in enumerate(toc):
        if title in i:
            locations[t].update({'start':e})
            

df_toc = pd.DataFrame.from_dict(locations, orient='index')
df_toc['end'] = df_toc['start'].shift(-1).apply(lambda x: x-1)
df_toc.loc[42, 'end'] = len(data)
df_toc['end'] = df_toc['end'].astype('int')

df_toc['text'] = df_toc.apply(lambda x: '\r\n'.join(data[ x['start'] : int(x['end']) ]), axis=1)

In [3]:
toc

['THE TRAGEDY OF ANTONY AND CLEOPATRA',
 'AS YOU LIKE IT',
 'THE COMEDY OF ERRORS',
 'THE TRAGEDY OF CORIOLANUS',
 'CYMBELINE',
 'THE TRAGEDY OF HAMLET, PRINCE OF DENMARK',
 'THE FIRST PART OF KING HENRY THE FOURTH',
 'THE SECOND PART OF KING HENRY THE FOURTH',
 'THE LIFE OF KING HENRY THE FIFTH',
 'THE LIFE OF KING HENRY V',
 'THE SECOND PART OF KING HENRY THE SIXTH',
 'THE THIRD PART OF KING HENRY THE SIXTH',
 'KING HENRY THE EIGHTH',
 'KING JOHN',
 'THE TRAGEDY OF JULIUS CAESAR',
 'THE TRAGEDY OF KING LEAR',
 'LOVE’S LABOUR’S LOST',
 'THE TRAGEDY OF MACBETH',
 'MACBETH',
 'THE MERCHANT OF VENICE',
 'THE MERRY WIVES OF WINDSOR',
 'A MIDSUMMER NIGHT’S DREAM',
 'MUCH ADO ABOUT NOTHING',
 'THE TRAGEDY OF OTHELLO, MOOR OF VENICE',
 'OTHELLO, THE MOOR OF VENICE',
 'KING RICHARD THE SECOND',
 'KING RICHARD THE THIRD',
 'THE TRAGEDY OF ROMEO AND JULIET',
 'THE TAMING OF THE SHREW',
 'THE TEMPEST',
 'THE LIFE OF TIMON OF ATHENS',
 'THE TRAGEDY OF TITUS ANDRONICUS',
 'THE HISTORY OF TROILUS AND CRESSIDA',
 'TWELFTH NIGHT; OR, WHAT YOU WILL',
 'TWELFTH NIGHT: OR, WHAT YOU WILL',
 'THE TWO NOBLE KINSMEN',
 'THE WINTER’S TALE',
 'A LOVER’S COMPLAINT',
 'THE PASSIONATE PILGRIM',
 'THE PHOENIX AND THE TURTLE',
 'THE RAPE OF LUCRECE',
 'VENUS AND ADONIS',
 '']

In [4]:
#Shakespeare Data Parsed by Play
df_toc.head()

                                 title  ...                                               text
0  THE TRAGEDY OF ANTONY AND CLEOPATRA  ...
1                       AS YOU LIKE IT  ...  AS YOU LIKE IT\r\n\r\n\r\nDRAMATIS PERSONAE.\r...
2                 THE COMEDY OF ERRORS  ...  THE COMEDY OF ERRORS\r\n\r\n\r\n\r\nContents\r...
3            THE TRAGEDY OF CORIOLANUS  ...  THE TRAGEDY OF CORIOLANUS\r\n\r\nDramatis Pers...
4                            CYMBELINE  ...  CYMBELINE.\r\nLaud we the gods;\r\nAnd let our...

[5 rows x 4 columns]

In [5]:
df_toc.shape

(43, 4)

In [6]:
pre_text = df_toc["text"].values.tolist()

In [7]:
pre_text = " ".join(data)

In [8]:
chars = list(set(pre_text))

In [9]:
len(chars)

104

In [10]:
# Lookup Tables
char_int = {c:i for i, c in enumerate(chars)} 
int_char = {i:c for i, c in enumerate(chars)}

In [12]:
# Create the sequence data
maxlen = 40
step = 5

encoded = [char_int[c] for c in pre_text]

sequences = [] # Each element is 40 chars long
next_char = [] # One element for each sequence

for i in range(0, len(encoded) - maxlen, step):
    
    sequences.append(encoded[i : i + maxlen])
    next_char.append(encoded[i + maxlen])
    
print('sequences: ', len(sequences))

sequences:  1111146

In [13]:
sequences[0]

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 78,
 1,
 1,
 18,
 19,
 24,
 11,
 1,
 76,
 56,
 101,
 19,
 44,
 66,
 28,
 1,
 3,
 19,
 44,
 56]

In [14]:
[int_char[i] for i in sequences[0]]

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1',
 ' ',
 ' ',
 'F',
 'r',
 'o',
 'm',
 ' ',
 'f',
 'a',
 'i',
 'r',
 'e',
 's',
 't',
 ' ',
 'c',
 'r',
 'e',
 'a']

In [16]:
import numpy as np

In [17]:
x = np.zeros((len(sequences), maxlen, len(chars)), dtype=np.bool)
y = np.zeros((len(sequences),len(chars)), dtype=np.bool)

for i, sequence in enumerate(sequences):
    for t, char in enumerate(sequence):
        x[i,t,char] = 1
    y[i, next_char[i]] = 1

In [18]:
x.shape

(1111146, 40, 104)

In [19]:
y.shape

(1111146, 104)

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, Dropout, SimpleRNN, LSTM
model = Sequential()
model.add(LSTM(128, input_shape=(maxlen, len(chars))))
model.add(Dense(len(chars), activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam')

In [28]:
import random
import sys
import os
def sample(preds):
    # helper function to sample an index from a probability array
    preds = np.asarray(preds).astype('float64')
    preds = np.log(preds) / 1
    exp_preds = np.exp(preds)
    preds = exp_preds / np.sum(exp_preds)
    probas = np.random.multinomial(1, preds, 1)
    return np.argmax(probas)

In [31]:
from tensorflow.keras.callbacks import LambdaCallback
def on_epoch_end(epoch, _):
    # Function invoked at end of each epoch. Prints generated text.
    
    print()
    print('----- Generating text after Epoch: %d' % epoch)
    
    start_index = random.randint(0, len(pre_text) - maxlen - 1) 
    generated = ''
    
    sentence = pre_text[start_index: start_index + maxlen]
    generated += sentence
    
    print('----- Generating with seed: "' + sentence + '"')
    sys.stdout.write(generated)
    
    for i in range(400):
        x_pred = np.zeros((1, maxlen, len(chars)))
        for t, char in enumerate(sentence):
            x_pred[0, t, char_int[char]] = 1
            
        preds = model.predict(x_pred, verbose=0)[0]
        next_index = sample(preds)
        next_char = int_char[next_index]
        
        sentence = sentence[1:] + next_char
        
        sys.stdout.write(next_char)
        sys.stdout.flush()

    print()

print_callback = LambdaCallback(on_epoch_end=on_epoch_end)

In [32]:
model.fit(x, y,
          batch_size=32,
          epochs=5,
          callbacks=[print_callback])

Epoch 1/5
34723/34724 [============================>.] - ETA: 0s - loss: 1.6333
----- Generating text after Epoch: 0
----- Generating with seed: "t especially where he speaks of Priam’s "
t especially where he speaks of Priam’s connoble     Singat, here apptaluce are weels a deallys shou bown more than old     be a wretche     Should want the Proudiness like eyes I'll before glad to never sure not, A0t; dost flowred this plainto, and Myhe's staeb!  IACHIMON. Marker dature Can’ay loun’s freid, of ray.  KENT. O Well, hearing.  TINO. The fortune abould firescalred.   PRINI; As muce all of thy did a liets, or minded a course
34724/34724 [==============================] - 169s 5ms/step - loss: 1.6333
Epoch 2/5
34716/34724 [============================>.] - ETA: 0s - loss: 1.5807
----- Generating text after Epoch: 1
----- Generating with seed: "NUS. I do beseech you     Let me o'erlea"
NUS. I do beseech you     Let me o'erlearor. Let this intried yenderous, And jowncty, the this women     And hanst Prenchsore?  SIR KICTLES. How rast, dotroul do, mirry at father’d     To fear to burthing ronon?  PELENBUSH. You kis to gee, reag, and thee.  JALBIA. I will not Say you so love on your bust great and hear Shrid I speep mignance,     to mose, terd adgender it is clavour’d authour conwer; of affing their loud, with up:     Ta
34724/34724 [==============================] - 169s 5ms/step - loss: 1.5807
Epoch 3/5
34720/34724 [============================>.] - ETA: 0s - loss: 1.5436
----- Generating text after Epoch: 2
----- Generating with seed: "nds; nay, dry your eyes:     Tears show "
nds; nay, dry your eyes:     Tears show this dook the ward madlerous; when there was my counten noble sor     Jove, kill me after mistred     A well her, good lashy;     Fay by mine eyest at whilus may shall let,     peam is do come             '                    144   And both Jusembled to were brother     a movance of han in?  FIRST HORATIO. Who his landder. Come dauchs!         KING PENTAR TROSES OF WOLAMON CoSTessine, and to a par
34724/34724 [==============================] - 170s 5ms/step - loss: 1.5436
Epoch 4/5
34713/34724 [============================>.] - ETA: 0s - loss: 1.5212
----- Generating text after Epoch: 3
----- Generating with seed: "th others.  ANTONY. We have beat him to "
th others.  ANTONY. We have beat him to fear;     And let you jase.  BOLINGUS. You’ll you.  PESS. Though towardsty me so black in them you.  [Exeunt._]  I have are King to tell the life daughter to-comfenger.  CLEONTES. I do thy charing inchase Is desirul, And one soul glow no glid'd, To man's King, Marchuron mire of but what maithes.  HELIDAMOLN. Alexame to Greeke me in to Andone deserfy.   MARCIUS. Thou are you laugh emplother, Locks
34724/34724 [==============================] - 168s 5ms/step - loss: 1.5212
Epoch 5/5
34724/34724 [==============================] - ETA: 0s - loss: 1.5026
----- Generating text after Epoch: 4
----- Generating with seed: " thou coward Troilus!   [_Exit_.]  DIOME"
 thou coward Troilus!   [_Exit_.]  DIOMERES. Here ever it hand of. ne’en my proofs in her way, Mine a man! Yet son, that, and the owh greveral yours which so!     Yet he a live, even you which their blood for his honour mids' Surpeds, of this noble.  CELARIUS. Heart._  IACHIMBER. You have did be worthy suity branca.  MESSENGER. How myself._]  SECATES. Stall’d her law for so our compair flowt,     Not salain rele Time withom strike in to
34724/34724 [==============================] - 168s 5ms/step - loss: 1.5026

# Resources and Stretch Goals

## Stretch goals:
- Refine the training and generation of text to be able to ask for different genres/styles of Shakespearean text (e.g. plays versus sonnets)
- Train a classification model that takes text and returns which work of Shakespeare it is most likely to be from
- Make it more performant! Many possible routes here - lean on Keras, optimize the code, and/or use more resources (AWS, etc.)
- Revisit the news example from class, and improve it - use categories or tags to refine the model/generation, or train a news classifier
- Run on bigger, better data

## Resources:
- [The Unreasonable Effectiveness of Recurrent Neural Networks](https://karpathy.github.io/2015/05/21/rnn-effectiveness/) - a seminal writeup demonstrating a simple but effective character-level NLP RNN
- [Simple NumPy implementation of RNN](https://github.com/JY-Yoon/RNN-Implementation-using-NumPy/blob/master/RNN%20Implementation%20using%20NumPy.ipynb) - Python 3 version of the code from "Unreasonable Effectiveness"
- [TensorFlow RNN Tutorial](https://github.com/tensorflow/models/tree/master/tutorials/rnn) - code for training a RNN on the Penn Tree Bank language dataset
- [4 part tutorial on RNN](http://www.wildml.com/2015/09/recurrent-neural-networks-tutorial-part-1-introduction-to-rnns/) - relates RNN to the vanishing gradient problem, and provides example implementation
- [RNN training tips and tricks](https://github.com/karpathy/char-rnn#tips-and-tricks) - some rules of thumb for parameterizing and training your RNN